/* SIZE */

$mobile:767px;
$tablet-min:768px; $tablet-max:991px;
$desktop:992px;

$header-height: 3.9em;
$filterbar-height: 3.9em;

/* COLORS */

$prim-dark-color: #2c3e50;
$sec-dark-color:  #25476a;	

$dark-badge: #aa0000;
$light-badge: #ff0000;

$prim-light-color: #ff9900;
$sec-light-color: #f4f4ef;

$black: #000;
$dark-grey: #333;
$grey: #666;
$light-grey: #ccc;
$white: #fff;

$bx-shdw : 0px 2px 4px 0px rgba(46,60,73,0.2);
